@import url(https://fonts.googleapis.com/css2?);
body{
background-image: url(https://media3.giphy.com/media/3oEdv1GbekAakxXO8g/giphy.gif?cid=ecf05e4799zcmuxcai3a5kxqhe17myyyztfaw047olarn90b&rid=giphy.gif&ct=g);

background-position: center;
text-align: center;
color: azure;
font-family: Silkscreen;
}

#text{
    width: 600px;
    font-size: 30px;
    border: 2px solid white;
    text-align: center;
    margin: auto;
}
@import url(https://fonts.googleapis.com/css2?);
